# ZOHO CREATOR CREDENTIALS (SHAKTI)
ZOHO_CLIENT_ID=your_client_id
ZOHO_CLIENT_SECRET=your_client_secret
ZOHO_REFRESH_TOKEN=your_refresh_token
ZOHO_ACCOUNT_OWNER=your_account_owner
ZOHO_APP_LINK_NAME=shakti_app_name
ZOHO_FORM_LINK_NAME=SIMS_Tracker
ZOHO_REPORT_LINK_NAME=SIMS_Tracker_Report
ZOHO_AUTH_DOMAIN=accounts.zoho.in
ZOHO_API_DOMAIN=creator.zoho.in
